!!! 5
html(lang="en")
  head
    title Social Network

    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/style.css")

  body
    h1 Social Network

    block content

    block scripts
