extends layout

block content
  form(class="form-inline", action="/reset-password", method="post")
    input(type="hidden", name="accountId", value="#{locals.accountId}")
    label(for="password") New Password:&nbsp;
    input(type="password", name="password", id="password", required)
    &nbsp;
    input(type="submit", class="btn btn-danger")

block scripts
  script(type="text/javascript", src="/libs/jquery.min.js")
  script(type="text/javascript", src="/libs/bootstrap.min.js")
