extends layout

block content
  p
    Your password has been reset.
  p
    a(href="/") Login

block scripts
  script(type="text/javascript", src="/libs/jquery.min.js")
  script(type="text/javascript", src="/libs/bootstrap.min.js")
