<form class="form-horizontal">
  <fieldset>
    <legend>Forgot Password</legend>

    <div class="control-group">
      <label class="control-label" for="email">Email Address:</label>
      <div class="controls">
        <input type="text" id="email" required style="width: 100%; max-width: 300px">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-danger" value="Reset my Password">
      </div>
    </div>
  </fieldset>
</form>
