<form class="form-horizontal">
  <fieldset>
    <legend>Login</legend>
    <div class="alert alert-error" id="login-error"></div>

    <div class="control-group">
      <label class="control-label" for="email">Email Address:</label>
      <div class="controls">
        <input type="email" id="email" name="email" required style="width: 100%; max-width: 300px">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password:</label>
      <div class="controls">
        <input type="password" id="password" name="password" required style="width: 100%; max-width: 300px">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary" value="Login Now">
      </div>
    </div>
  </fieldset>
</form>

<ul>
  <li><a href="#forgot-password">Forgot Password?</a></li>
  <li><a href="#register">Sign Up</a></li>
</ul>
