<h1>Register</h1>

<form>
  <fieldset>
    <legend>Your Name</legend>

    <label>First: <input type="text" id="first-name"></label><br>
    <label>Last: <input type="text" id="last-name"></label>
  </fieldset>

  <fieldset>
    <legend>Email Address</legend>

    <label>Email: <input type="email" id="email"></label><br>
    <label>Email (confirm): <input type="email" id="confirm-email"></label>
  </fieldset>

  <fieldset>
    <legend>Password</legend>

    <label>Password: <input type="password" id="password"></label><br>
    <label>Password (confirm): <input type="password" id="confirm-password"></label>
  </fieldset>

  <p><input type="submit" class="btn btn-primary" value="Register Now"></p>
</form>
